{% load i18n %}
{% load categories %}
{% load profile %}
{% get_categories as names %}
{% get_price_filter as price_form %}
{% get_user_category_choice as user_choice %}
{% get_profile_id as profile_id %}
<header>
    <hr size="20" color="blue">
    <table>
        <tr>
            <th><img src="http:\\localhost:8000\media\logo.png/" alt="logo"></th>
            <th></th>
            <th><h2 style="">The best marketplace</h2></th>
        </tr>
    </table>
    <div class="topnav">
      {% if request.user.is_authenticated %}
        <a href="{% url 'account' pk=profile_id %}">Account</a>
        <a href="{% url 'cart' %}">Cart</a>
        <a href="{% url 'sign_out' %}">Sign out</a>
      {% else %}
        <a href="{% url 'sign_in' %}">Sign in</a>
        <a href="{% url 'sign_up' %}">Sign up</a>
        <a href="{% url 'cart' %}">Cart</a>
      {% endif %}
        </div>
        <form method="GET" action="{% url 'catalogue' %}">
            <label for="category_q">{% trans "Category" %}</label>
            <select name="category_query" id="category_q">
                           {% for name in names %}
                                {% if name == user_choice %}
                                    <option value="{{ name }}" selected>{{ name }}</option>
                                {% else %}
                                    <option value="{{ name }}">{{ name }}</option>
                                {% endif %}
                            {% endfor %}
            </select>
            {{ price_form.as_p }}
            <label for="reviews_check">{% trans "With reviews only" %}</label>
            <input name='reviews_check' id="reviews_check" type="checkbox">
            <input type="text" placeholder="Search for goods" name="item_query">
            <input type="submit" name="Submit" value="Search">
        </form>
    </div>
</header>