{% extends 'market/base.html' %}
{% load i18n %}

{% block body %}
<style>
#item { white-space: nowrap; }
.item_data { display: inline-block; }
</style>


<h3>{% trans 'Limited offers' %}</h3>
{% for item in items %}
    <div class="item">
        <div class="item_data"><a href="catalogue/{{ item.id }}">{{ item.name }}</a></div>
        <div class="item_data">{{ item.price }}$ &nbsp;&nbsp</div>
        <div class="item_data">{% trans 'Number of reviews ' %}{{ item.number_of_reviews }} </div>
    </div>
{% endfor %}
{% endblock %}